<div class="device-container">
    <div *ngFor="let device of devices" class="device-card" (click)="onCardClick(device.id)">
        <div class="device-info">
            <h3>{{ device.nickname }}</h3>
            <div class="device-image">
                <img [src]="device.imageUrl" alt="Car Image">
            </div>
            <div class="info-group">
                <div class="info-item">
                    <p><strong>Carro:</strong> {{ device.carName }}</p>
                    <p><strong>Placa:</strong> {{ device.licensePlate }}</p>
                    <p><strong>IMEI:</strong> {{ device.imei }}</p>
                    <p><strong>Chip:</strong> {{ device.chip }}</p>
                    <p><strong>Telefone:</strong> {{ device.phone }}</p>
                    <p><strong>Lat:</strong> {{ device.latitude }}</p>
                    <p><strong>Lon:</strong> {{ device.longitude }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
