.device-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os cards na tela */
}

.device-card {
  width: calc(100% - 20px); /* Largura total menos margens */
  margin: 10px;
  border-radius: 8px;
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites do card */
  display: flex; /* Permite que os elementos dentro do card sejam flexíveis */
  background-color: #2c3e50; /* Cor de fundo do card */
  color: white;
  cursor: pointer; /* Altera o cursor ao passar por cima */
}

.device-image {
  width: 20%; /* Largura da imagem (lado esquerdo do card) */
  padding: 10px; /* Espaçamento interno da imagem */
  border-right: 1px solid #34495e; /* Adiciona uma borda à direita da imagem */
}

.device-image img {
  width: 100%; /* Largura da imagem (preenche todo o espaço disponível na div .device-image) */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Adiciona borda redonda à imagem */
}

.device-info {
  width: 80%; /* Largura das informações do dispositivo (lado direito do card) */
  padding: 20px;
}

.device-info h3 {
  margin: 0;
  font-size: 24px; /* Aumenta o tamanho do nome do dispositivo */
  text-align: center; /* Centraliza o nome do dispositivo */
}

.device-info p {
  margin: 5px 0;
}

.device-card:hover {
  background-color: #34495e; /* Cor de fundo ao passar o mouse */
}